In [4]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

**Prefix dan Suffix pada seluruh Kolom Pandas Data Frame**

prefix menambahkan string di depan string

surfix menambahkan string di belakang string

In [10]:
x_rows = 11
x_cols = 5
cols = tuple('ABCDE')

#membuat table dengan isi angka random
df = pd.DataFrame(np.random.randint(10, 20, size =(x_rows, x_cols)), columns = cols)
df

     A   B   C   D   E
0   15  10  10  10  14
1   16  17  10  12  19
2   14  12  18  10  19
3   10  11  18  13  11
4   11  15  13  15  13
5   18  13  15  17  15
6   11  19  17  19  11
7   16  11  12  13  14
8   12  18  14  15  15
9   16  10  18  15  19
10  18  12  18  19  18